
    @model Campus_Management_System.Models.Student


    <h1>Student Information Farm </h1>

    <h1>@Model.Name</h1>
    <h1>@Model.Email</h1>
       


<form method="post">

        <div> <input asp-for = "Name" /> </div>
        <div> <input asp-for="Email"/> </div>
        <div> <input asp-for ="Age"/>   </div>
        <button type="submit">Submit</button>

    <label>Choose Department:</label>
    <select asp-for="Department" class="form-control">
        <option value="">-- Select Department --</option>
        <option value="Science">Science</option>
        <option value="Arts">Arts</option>
    </select>


</form>



